
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEmployee</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diplomski app", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Employees", "IndexEmployee", "EmployeeManagement")</li>
                    <li>@Html.ActionLink("Roles", "IndexRole", "EmployeeManagement")</li>
                    <li>@Html.ActionLink("Accounts", "IndexAccount", "AccountManagement")</li>
                </ul>
            </div>
        </div>
    </div>

    <a class="btn btn-default" href="@Url.Action("CreateEmp", "EmployeeManagement")" role="button">Add employee</a>
    <br /><br />
    <table class="table table-striped">
        <tr>
            
            <th>Name</th>
            <th>Last Name</th>
            <th>Role ID</th>
            <th>Options</th>
        </tr>
        @if (ViewBag.listEmployees != null)
        {
            foreach (var employee in ViewBag.listEmployees)
            {
                <tr>
                    
                    <td>@employee.Ime</td>
                    <td>@employee.Prezime</td>
                    <td>@employee.RoleID</td>
                    <td>
                    <a class="btn btn-default" href="@Url.Action("ShowEmpData", "EmployeeManagement", new { id =
                            employee.Id})" role="button">Details</a>
                    <a class="btn btn-default" href="@Url.Action("EditEmp", "EmployeeManagement", new { id =
                            employee.Id})" role="button">Edit</a>
                    <a class="btn btn-default" href="@Url.Action("ShowAllAcc", "AccountAssignment", new { id =
                            employee.Id})" role="button">Show Accounts</a>
                    <a class="btn btn-default" href="@Url.Action("RoleChange", "EmployeeManagement", new{id =
                            employee.Id})" role="button">Role change</a>
                    </td>
                </tr>
            }
        }
    </table>

</body>
</html>
